In [1]:
import pandas as pd
import numpy as np

In [4]:
#! wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

## Q1 Pandas version

In [10]:
pd.__version__

'2.2.2'

## Read in the data for the following questions

In [111]:
df = pd.read_csv('laptops.csv')

In [8]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

## Q2 Records count

In [24]:
## Number of rows. Determine the shape of the matrix and get the number of row [0]
df.shape[0]

2160

## Q3 Laptop brands

In [25]:
### Count the number of laptop brands
len(list(df["Brand"].unique()))

27

## Q4 Missing values

In [35]:
## Select the number of columns with NA in the dataframe, turn into a list and determine the lenght of the list

len(list(df.isna().sum()[df.isna().sum() > 1]))

3

## Q5 Maximum final price

In [42]:
max(df[df.Brand == "Dell"]["Final Price"])

3936.0

## Q6 Median value of Screen

### Find the median value of Screen column in the dataset.

In [52]:
median_value_with_NA = df.Screen.median()
print(median_value)

15.6

### Next, calculate the most frequent value of the same Screen column.

In [107]:
most_common_size = df.Screen.mode()
print(most_common_size[0])

15.6

### Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.

In [112]:
df["Screen"].fillna(most_common_size[0],inplace=True)

/var/folders/js/95x7pm0d46d9qsgdhmvy56400000gn/T/ipykernel_34338/630473740.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Screen"].fillna(most_common_size[0],inplace=True)

###Â Now, calculate the median value of Screen once again

In [110]:
df.isna().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             0
Touch              0
Final Price        0
dtype: int64

In [116]:
median_value_without_NA = df.Screen.median()
print(median_value_without_NA)

15.6

## Q7 Sum of weights

1. Select all the "Innjoo" laptops from the dataset.
2. Select only columns RAM, Storage, Screen.
3. Get the underlying NumPy array. Let's call it X.
4. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
5. Compute the inverse of XTX.
6. Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8. What's the sum of all the elements of the result?

In [130]:
## 1 and 2
Innjoo = df[df.Brand == 'Innjoo'][["RAM","Storage","Screen"]]

## 3
X = Innjoo.to_numpy()

##